<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">X_X Mello</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse @NavMenuCssClass nav-link-container">
            <ul class="navbar-nav fw-bold">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="customers" aria-expanded="false">
                        Customers
                    </NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu mt-2">
                        <li><a class="dropdown-item fw-bolder" href="#">Clothing</a></li>
                        <li><a class="dropdown-item" href="products">Ukay ukay Shirt</a></li>
                        <li><a class="dropdown-item" href="tshirts">T-shirt</a></li>
                        <li><a class="dropdown-item" href="#">Long Sleeve</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="dropend">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accessories
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="watch">Watch</a></li>
                                <li><a class="dropdown-item" href="#">Necklace</a></li>
                                <li><a class="dropdown-item" href="#">Wallet</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item dropend">
                                    <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Shoes
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Nike</a></li>
                                        <li><a class="dropdown-item" href="#">Anta</a></li>
                                        <li><a class="dropdown-item" href="#">Adidas</a></li>
                                        <li><a class="dropdown-item" href="#">Under Armour</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="nav-item">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Lorem
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Orders
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item fw-bolder" href="#">Large</a></li>
                        <li><a class="dropdown-item" href="orders">Menu Item</a></li>
                        <li><a class="dropdown-item" href="">Menu Item</a></li>
                        <li><a class="dropdown-item" href="#">Menu Item</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="nav-item dropend">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Small
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="small">Menu Item</a></li>
                                <li><a class="dropdown-item" href="#">Menu Item</a></li>
                                <li><a class="dropdown-item" href="#">Menu Item</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item dropend">
                                    <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Lorem
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;
    private bool dropdownOpen = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";
    

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

   
}
